# env
.env
.env*.local

# dependencies (workspace-wide)
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
next-env.d.ts

# build output
build/
dist/
.output/
.tanstack/
.turbo/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
